# Group Number: 42

### This code is generating a Word2Vec-based baseline for the Twitterppdb dataset.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Converting Training

In [2]:
df_train= pd.read_csv("train/a.toks",delimiter='\t', header=None )

In [3]:
df_train

                                                       0
0      how the metaphors we use to describe discovery...
1      how the metaphors we use to describe discovery...
2      how the metaphors we use to describe discovery...
3      how the metaphors we use to describe discovery...
4      how the metaphors we use to describe discovery...
...                                                  ...
42195  we asked 15 families about the thanksgiving di...
42196  we asked 15 families about the thanksgiving di...
42197  we asked 15 families about the thanksgiving di...
42198  we asked 15 families about the thanksgiving di...
42199  we asked 15 families about the thanksgiving di...

[42200 rows x 1 columns]

In [4]:
source=df_train

In [5]:
target= pd.read_csv("train/b.toks",delimiter='\t', header=None )

In [6]:
target

                                                       0
0      light bulbs or seeds ? how metaphors for ideas...
1      great description of a nasty catch-22 facing w...
2      academic reading & amp ; writing , read the ar...
3      big ideas take enormous effort and how we talk...
4      how we talk about discovery matters in #stem f...
...                                                  ...
42195  so amazing to see @pastrydiane and her family ...
42196  15 recipes from americans of different backgro...
42197  the american thanksgiving 15 families discuss ...
42198  what a beautiful piece from the @nytimes on th...
42199  the times asked 15 american families to talk a...

[42200 rows x 1 columns]

In [7]:
y_train=pd.read_csv("train/sim.txt",delimiter='\t', header=None )

In [8]:
y_train

       0
0      0
1      0
2      0
3      0
4      0
...   ..
42195  0
42196  1
42197  1
42198  0
42199  1

[42200 rows x 1 columns]

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
y_train=y_train[0]
X_train=source[0]+" "+target[0]

In [11]:
y_train

0        0
1        0
2        0
3        0
4        0
        ..
42195    0
42196    1
42197    1
42198    0
42199    1
Name: 0, Length: 42200, dtype: int64

In [12]:
X_train

0        how the metaphors we use to describe discovery...
1        how the metaphors we use to describe discovery...
2        how the metaphors we use to describe discovery...
3        how the metaphors we use to describe discovery...
4        how the metaphors we use to describe discovery...
                               ...
42195    we asked 15 families about the thanksgiving di...
42196    we asked 15 families about the thanksgiving di...
42197    we asked 15 families about the thanksgiving di...
42198    we asked 15 families about the thanksgiving di...
42199    we asked 15 families about the thanksgiving di...
Name: 0, Length: 42200, dtype: object

## Converting Testing

In [13]:
test_source=pd.read_csv("test/a.toks",delimiter='\t', header=None )

In [14]:
test_source

                                                      0
0     how an unverified but explosive dossier became...
1     how an unverified but explosive dossier became...
2     how an unverified but explosive dossier became...
3     how an unverified but explosive dossier became...
4     how an unverified but explosive dossier became...
...                                                 ...
9319  finalists for the national book critics circle...
9320  finalists for the national book critics circle...
9321  finalists for the national book critics circle...
9322  finalists for the national book critics circle...
9323  finalists for the national book critics circle...

[9324 rows x 1 columns]

In [15]:
test_target=pd.read_csv("test/b.toks",delimiter='\t', header=None )

In [16]:
test_target

                                                      0
0     how a sensational , unverified dossier became ...
1     dossier donald trump don't forget , dnc hacked...
2     a wealthy republican donor who strongly oppose...
3     how an unverified dossier became a crisis for ...
4     outstanding piece puts russian rumors re trump...
...                                                 ...
9319  a few american friends complain i am being too...
9320  yaa gyasi awarded john leonard prize for homeg...
9321  am i alone here ? by @peter_orner has been nam...
9322  congrats to alice kaplan @yale , finalist for ...
9323  jane mayer and ann patchett are also among the...

[9324 rows x 1 columns]

In [17]:
y_test=pd.read_csv("test/sim.txt",delimiter='\t', header=None )

In [18]:
y_test

      0
0     1
1     0
2     0
3     1
4     0
...  ..
9319  0
9320  0
9321  0
9322  1
9323  0

[9324 rows x 1 columns]

In [19]:
y_test=y_test[0]
X_test=test_source[0]+" "+test_target[0]

In [20]:
y_test

0       1
1       0
2       0
3       1
4       0
       ..
9319    0
9320    0
9321    0
9322    1
9323    0
Name: 0, Length: 9324, dtype: int64

In [21]:
X_test

0       how an unverified but explosive dossier became...
1       how an unverified but explosive dossier became...
2       how an unverified but explosive dossier became...
3       how an unverified but explosive dossier became...
4       how an unverified but explosive dossier became...
                              ...
9319    finalists for the national book critics circle...
9320    finalists for the national book critics circle...
9321    finalists for the national book critics circle...
9322    finalists for the national book critics circle...
9323    finalists for the national book critics circle...
Name: 0, Length: 9324, dtype: object

In [22]:
import gensim.downloader as api
from gensim.models import Word2Vec
import numpy as np
from scipy.sparse import vstack

word_vectors = api.load('word2vec-google-news-300')

In [23]:
def get_doc_embedding(doc):
    words = doc.lower().split()
    return word_vectors.get_mean_vector(words)

source[0] = source[0].apply(lambda x: np.array(get_doc_embedding(x)))
target[0] = target[0].apply(lambda x: np.array(get_doc_embedding(x)))
x1 = np.stack(source[0].values)
x2 = np.stack(target[0].values)
X_train = np.hstack((x1, x2))
y_train = y_train

In [24]:
def get_doc_embedding(doc):
    words = doc.lower().split()
    return word_vectors.get_mean_vector(words)

test_source[0] = test_source[0].apply(lambda x: np.array(get_doc_embedding(x)))
test_target[0] = test_target[0].apply(lambda x: np.array(get_doc_embedding(x)))
x1 = np.stack(test_source[0].values)
x2 = np.stack(test_target[0].values)
X_test = np.hstack((x1, x2))
y_test = y_test

In [25]:
y_test

0       1
1       0
2       0
3       1
4       0
       ..
9319    0
9320    0
9321    0
9322    1
9323    0
Name: 0, Length: 9324, dtype: int64

In [26]:
X_test

array([[ 0.03670343,  0.02582751,  0.01965243, ..., -0.05367235,
        -0.01222366,  0.02762284],
       [ 0.03670343,  0.02582751,  0.01965243, ..., -0.07480688,
        -0.00891178,  0.02215355],
       [ 0.03670343,  0.02582751,  0.01965243, ...,  0.00563173,
         0.01055616, -0.02060932],
       ...,
       [-0.03073055,  0.0249352 , -0.00603749, ..., -0.00140599,
        -0.01004266, -0.00150803],
       [-0.03073055,  0.0249352 , -0.00603749, ..., -0.01530992,
        -0.00759629,  0.01791251],
       [-0.03073055,  0.0249352 , -0.00603749, ..., -0.01159143,
         0.00496262, -0.01280443]], dtype=float32)

## Logistic Regression

In [27]:
X_train

array([[ 0.03393119,  0.03113483,  0.03692422, ..., -0.01278995,
         0.01777831,  0.01067224],
       [ 0.03393119,  0.03113483,  0.03692422, ..., -0.03568024,
         0.0147134 ,  0.01203516],
       [ 0.03393119,  0.03113483,  0.03692422, ..., -0.00050231,
        -0.02430289,  0.00676973],
       ...,
       [ 0.01252555,  0.02558967,  0.03097087, ..., -0.01876852,
         0.04856499, -0.02145283],
       [ 0.01252555,  0.02558967,  0.03097087, ..., -0.02501415,
         0.00019243, -0.02545443],
       [ 0.01252555,  0.02558967,  0.03097087, ..., -0.00821432,
         0.03213881, -0.01703839]], dtype=float32)

In [28]:
y_train

0        0
1        0
2        0
3        0
4        0
        ..
42195    0
42196    1
42197    1
42198    0
42199    1
Name: 0, Length: 42200, dtype: int64

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score

lr = LogisticRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

f1 = f1_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

print(f'F1 Score: {f1}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'Accuracy: {accuracy}')

F1 Score: 0.3701141473538568
Precision: 0.4995331465919701
Recall: 0.29395604395604397
Accuracy: 0.8046975546975547

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Decision Tree

In [40]:
# Initialize the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)
y_pred_dt = dt_classifier.predict(X_test)
print("Decision Tree Classifier:")
print("Precision:", precision_score(y_test, y_pred_dt))
print("Recall:", recall_score(y_test, y_pred_dt))
print("F1-Score:", f1_score(y_test, y_pred_dt))
print("Accuracy:", accuracy_score(y_test, y_pred_dt))

Decision Tree Classifier:
Precision: 0.3098656785548865
Recall: 0.3675824175824176
F1-Score: 0.33626539331490324
Accuracy: 0.7167524667524667

## Random Forest

In [31]:
from sklearn.ensemble import RandomForestClassifier
# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42)

# Train the model
rf_classifier.fit(X_train, y_train)
y_pred_rf = rf_classifier.predict(X_test)
print("Random Forest Classifier:")
print("Precision:", precision_score(y_test, y_pred_rf))
print("Recall:", recall_score(y_test, y_pred_rf))
print("F1-Score:", f1_score(y_test, y_pred_rf))
print("Accuracy:", accuracy_score(y_test, y_pred_rf))

Random Forest Classifier:
Precision: 0.6516129032258065
Recall: 0.11098901098901098
F1-Score: 0.1896713615023474
Accuracy: 0.8148863148863149

## Ada Boost

In [41]:
from sklearn.ensemble import AdaBoostClassifier
# # Initialize the AdaBoost Classifier
# from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import GridSearchCV
# Initialize the AdaBoost Classifier
ada_classifier = AdaBoostClassifier(learning_rate=1, n_estimators=100)

ada_classifier.fit(X_train, y_train)
y_pred_ada = ada_classifier.predict(X_test)
print("AdaBoost Classifier:")
print("Precision:", precision_score(y_test, y_pred_ada))
print("Recall:", recall_score(y_test, y_pred_ada))
print("F1-Score:", f1_score(y_test, y_pred_ada))
print("Accuracy:", accuracy_score(y_test, y_pred_ada))

AdaBoost Classifier:
Precision: 0.4125662376987131
Recall: 0.29945054945054944
F1-Score: 0.34702324100604903
Accuracy: 0.78003003003003

## Gradient Boosting

In [42]:
from sklearn.ensemble import GradientBoostingClassifier
# Initialize the Gradient Boosting Classifier
gb_classifier = GradientBoostingClassifier(learning_rate=1, n_estimators=100)

# Train the model
gb_classifier.fit(X_train, y_train)
y_pred_gb = gb_classifier.predict(X_test)
print("Gradient Boosting Classifier:")
print("Precision:", precision_score(y_test, y_pred_gb))
print("Recall:", recall_score(y_test, y_pred_gb))
print("F1-Score:", f1_score(y_test, y_pred_gb))
print("Accuracy:", accuracy_score(y_test, y_pred_gb))

Gradient Boosting Classifier:
Precision: 0.5372829417773238
Recall: 0.578021978021978
F1-Score: 0.5569084171519323
Accuracy: 0.8204633204633205

## SGD Classifier

In [43]:
from sklearn.linear_model import SGDClassifier
# Initialize the SGD Classifier
sgd_classifier = SGDClassifier()

sgd_classifier.fit(X_train, y_train)
y_pred_sgd = sgd_classifier.predict(X_test)
print("SGD Classifier:")
print("Precision:", precision_score(y_test, y_pred_sgd))
print("Recall:", recall_score(y_test, y_pred_sgd))
print("F1-Score:", f1_score(y_test, y_pred_sgd))
print("Accuracy:", accuracy_score(y_test, y_pred_sgd))

SGD Classifier:
Precision: 0.6767676767676768
Recall: 0.07362637362637363
F1-Score: 0.13280475718533202
Accuracy: 0.8123123123123123

## LinearSVC

In [44]:
from sklearn.svm import LinearSVC
# Initialize the LinearSVC
linear_svc = LinearSVC(random_state=42)

# Train the model
linear_svc.fit(X_train, y_train)
y_pred_svc = linear_svc.predict(X_test)
print("LinearSVC:")
print("Precision:", precision_score(y_test, y_pred_svc))
print("Recall:", recall_score(y_test, y_pred_svc))
print("F1-Score:", f1_score(y_test, y_pred_svc))
print("Accuracy:", accuracy_score(y_test, y_pred_svc))

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC:
Precision: 0.4704370179948586
Recall: 0.30164835164835163
F1-Score: 0.36759290257783733
Accuracy: 0.7974045474045474

##  Gaussian NB

In [31]:
from sklearn.naive_bayes import GaussianNB  # Import Gaussian Naive Bayes
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score

# Create a Gaussian Naive Bayes classifier
gnb = GaussianNB()

# Fit the classifier on the training data
gnb.fit(X_train, y_train)

# Make predictions on the test data
y_pred_gnb = gnb.predict(X_test)

print("Gaussian Naive Bayes:")
print("Precision:", precision_score(y_test, y_pred_gnb))
print("Recall:", recall_score(y_test, y_pred_gnb))
print("F1-Score:", f1_score(y_test, y_pred_gnb))
print("Accuracy:", accuracy_score(y_test, y_pred_gnb))

Gaussian Naive Bayes:
Precision: 0.32266361817662187
Recall: 0.6203296703296703
F1-Score: 0.42451588644482047
Accuracy: 0.6717074217074217

## Multi-Layer Perceptron

In [30]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
# Initialize the MLPClassifier
mlp = MLPClassifier(random_state=42)
mlp.fit(X_train, y_train)
y_pred_mlp = mlp.predict(X_test)
print("MLP Classifier:")
print("Precision:", precision_score(y_test, y_pred_mlp))
print("Recall:", recall_score(y_test, y_pred_mlp))
print("F1-Score:", f1_score(y_test, y_pred_mlp))
print("Accuracy:", accuracy_score(y_test, y_pred_mlp))

MLP Classifier:
Precision: 0.5413978494623656
Recall: 0.5532967032967033
F1-Score: 0.5472826086956522
Accuracy: 0.8213213213213213

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(