# Group Number: 42

### This code is generating a Bag of Words based baseline for the Twitterppdb dataset.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Converting Training

In [2]:
df_train= pd.read_csv("train/a.toks",delimiter='\t', header=None )

In [3]:
df_train

                                                       0
0      how the metaphors we use to describe discovery...
1      how the metaphors we use to describe discovery...
2      how the metaphors we use to describe discovery...
3      how the metaphors we use to describe discovery...
4      how the metaphors we use to describe discovery...
...                                                  ...
42195  we asked 15 families about the thanksgiving di...
42196  we asked 15 families about the thanksgiving di...
42197  we asked 15 families about the thanksgiving di...
42198  we asked 15 families about the thanksgiving di...
42199  we asked 15 families about the thanksgiving di...

[42200 rows x 1 columns]

In [4]:
source=df_train

In [5]:
target= pd.read_csv("train/b.toks",delimiter='\t', header=None )

In [6]:
target

                                                       0
0      light bulbs or seeds ? how metaphors for ideas...
1      great description of a nasty catch-22 facing w...
2      academic reading & amp ; writing , read the ar...
3      big ideas take enormous effort and how we talk...
4      how we talk about discovery matters in #stem f...
...                                                  ...
42195  so amazing to see @pastrydiane and her family ...
42196  15 recipes from americans of different backgro...
42197  the american thanksgiving 15 families discuss ...
42198  what a beautiful piece from the @nytimes on th...
42199  the times asked 15 american families to talk a...

[42200 rows x 1 columns]

In [7]:
y_train=pd.read_csv("train/sim.txt",delimiter='\t', header=None )

In [8]:
y_train

       0
0      0
1      0
2      0
3      0
4      0
...   ..
42195  0
42196  1
42197  1
42198  0
42199  1

[42200 rows x 1 columns]

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
y_train=y_train[0]
X_train=source[0]+" "+target[0]

In [11]:
y_train

0        0
1        0
2        0
3        0
4        0
        ..
42195    0
42196    1
42197    1
42198    0
42199    1
Name: 0, Length: 42200, dtype: int64

In [12]:
X_train

0        how the metaphors we use to describe discovery...
1        how the metaphors we use to describe discovery...
2        how the metaphors we use to describe discovery...
3        how the metaphors we use to describe discovery...
4        how the metaphors we use to describe discovery...
                               ...
42195    we asked 15 families about the thanksgiving di...
42196    we asked 15 families about the thanksgiving di...
42197    we asked 15 families about the thanksgiving di...
42198    we asked 15 families about the thanksgiving di...
42199    we asked 15 families about the thanksgiving di...
Name: 0, Length: 42200, dtype: object

## Converting Testing

In [13]:
test_source=pd.read_csv("test/a.toks",delimiter='\t', header=None )

In [14]:
test_source

                                                      0
0     how an unverified but explosive dossier became...
1     how an unverified but explosive dossier became...
2     how an unverified but explosive dossier became...
3     how an unverified but explosive dossier became...
4     how an unverified but explosive dossier became...
...                                                 ...
9319  finalists for the national book critics circle...
9320  finalists for the national book critics circle...
9321  finalists for the national book critics circle...
9322  finalists for the national book critics circle...
9323  finalists for the national book critics circle...

[9324 rows x 1 columns]

In [15]:
test_target=pd.read_csv("test/b.toks",delimiter='\t', header=None )

In [16]:
test_target

                                                      0
0     how a sensational , unverified dossier became ...
1     dossier donald trump don't forget , dnc hacked...
2     a wealthy republican donor who strongly oppose...
3     how an unverified dossier became a crisis for ...
4     outstanding piece puts russian rumors re trump...
...                                                 ...
9319  a few american friends complain i am being too...
9320  yaa gyasi awarded john leonard prize for homeg...
9321  am i alone here ? by @peter_orner has been nam...
9322  congrats to alice kaplan @yale , finalist for ...
9323  jane mayer and ann patchett are also among the...

[9324 rows x 1 columns]

In [17]:
y_test=pd.read_csv("test/sim.txt",delimiter='\t', header=None )

In [18]:
y_test

      0
0     1
1     0
2     0
3     1
4     0
...  ..
9319  0
9320  0
9321  0
9322  1
9323  0

[9324 rows x 1 columns]

In [19]:
y_test=y_test[0]
X_test=test_source[0]+" "+test_target[0]

In [20]:
y_test

0       1
1       0
2       0
3       1
4       0
       ..
9319    0
9320    0
9321    0
9322    1
9323    0
Name: 0, Length: 9324, dtype: int64

In [21]:
X_test

0       how an unverified but explosive dossier became...
1       how an unverified but explosive dossier became...
2       how an unverified but explosive dossier became...
3       how an unverified but explosive dossier became...
4       how an unverified but explosive dossier became...
                              ...
9319    finalists for the national book critics circle...
9320    finalists for the national book critics circle...
9321    finalists for the national book critics circle...
9322    finalists for the national book critics circle...
9323    finalists for the national book critics circle...
Name: 0, Length: 9324, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import hstack

vectorizer = CountVectorizer(max_features=3000)
X_train = vectorizer.fit_transform(X_train)
y_train=y_train
X_test = vectorizer.fit_transform(X_test)
y_test=y_test

In [23]:
y_test

0       1
1       0
2       0
3       1
4       0
       ..
9319    0
9320    0
9321    0
9322    1
9323    0
Name: 0, Length: 9324, dtype: int64

In [24]:
X_test

<9324x3000 sparse matrix of type '<class 'numpy.int64'>'
	with 196442 stored elements in Compressed Sparse Row format>

## Logistic Regression

In [25]:
X_train

<42200x3000 sparse matrix of type '<class 'numpy.int64'>'
	with 794881 stored elements in Compressed Sparse Row format>

In [26]:
y_train

0        0
1        0
2        0
3        0
4        0
        ..
42195    0
42196    1
42197    1
42198    0
42199    1
Name: 0, Length: 42200, dtype: int64

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score

lr = LogisticRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

f1 = f1_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

print(f'F1 Score: {f1}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'Accuracy: {accuracy}')

F1 Score: 0.27646946199502204
Precision: 0.2121657361151925
Recall: 0.3967032967032967
Accuracy: 0.5947018447018447

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Decision Tree

In [29]:
# Initialize the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)
y_pred_dt = dt_classifier.predict(X_test)
print("Decision Tree Classifier:")
print("Precision:", precision_score(y_test, y_pred_dt))
print("Recall:", recall_score(y_test, y_pred_dt))
print("F1-Score:", f1_score(y_test, y_pred_dt))
print("Accuracy:", accuracy_score(y_test, y_pred_dt))

Decision Tree Classifier:
Precision: 0.2647197362223269
Recall: 0.6175824175824176
F1-Score: 0.3705901747444774
Accuracy: 0.5905190905190906

## Random Forest

In [36]:
from sklearn.ensemble import RandomForestClassifier
# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42)

# Train the model
rf_classifier.fit(X_train, y_train)
y_pred_rf = rf_classifier.predict(X_test)
print("Random Forest Classifier:")
print("Precision:", precision_score(y_test, y_pred_rf))
print("Recall:", recall_score(y_test, y_pred_rf))
print("F1-Score:", f1_score(y_test, y_pred_rf))
print("Accuracy:", accuracy_score(y_test, y_pred_rf))

Random Forest Classifier:
Precision: 0.41900452488687784
Recall: 0.2543956043956044
F1-Score: 0.31658119658119654
Accuracy: 0.7856070356070356

## Ada Boost

In [30]:
from sklearn.ensemble import AdaBoostClassifier
# # Initialize the AdaBoost Classifier
# from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import GridSearchCV
# Initialize the AdaBoost Classifier
ada_classifier = AdaBoostClassifier(learning_rate=1, n_estimators=100)

ada_classifier.fit(X_train, y_train)
y_pred_ada = ada_classifier.predict(X_test)
print("AdaBoost Classifier:")
print("Precision:", precision_score(y_test, y_pred_ada))
print("Recall:", recall_score(y_test, y_pred_ada))
print("F1-Score:", f1_score(y_test, y_pred_ada))
print("Accuracy:", accuracy_score(y_test, y_pred_ada))

AdaBoost Classifier:
Precision: 0.2275390625
Recall: 0.7681318681318682
F1-Score: 0.3510798593671522
Accuracy: 0.44573144573144574

## Gradient Boosting

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
# Initialize the Gradient Boosting Classifier
gb_classifier = GradientBoostingClassifier(learning_rate=1, n_estimators=100)

# Train the model
gb_classifier.fit(X_train, y_train)
y_pred_gb = gb_classifier.predict(X_test)
print("Gradient Boosting Classifier:")
print("Precision:", precision_score(y_test, y_pred_gb))
print("Recall:", recall_score(y_test, y_pred_gb))
print("F1-Score:", f1_score(y_test, y_pred_gb))
print("Accuracy:", accuracy_score(y_test, y_pred_gb))

Gradient Boosting Classifier:
Precision: 0.33121019108280253
Recall: 0.42857142857142855
F1-Score: 0.37365269461077844
Accuracy: 0.7195409695409696

## SGD Classifier

In [32]:
from sklearn.linear_model import SGDClassifier
# Initialize the SGD Classifier
sgd_classifier = SGDClassifier()

sgd_classifier.fit(X_train, y_train)
y_pred_sgd = sgd_classifier.predict(X_test)
print("SGD Classifier:")
print("Precision:", precision_score(y_test, y_pred_sgd))
print("Recall:", recall_score(y_test, y_pred_sgd))
print("F1-Score:", f1_score(y_test, y_pred_sgd))
print("Accuracy:", accuracy_score(y_test, y_pred_sgd))

SGD Classifier:
Precision: 0.2064384261624936
Recall: 0.44395604395604393
F1-Score: 0.2818276944541332
Accuracy: 0.5583440583440583

## LinearSVC

In [33]:
from sklearn.svm import LinearSVC
# Initialize the LinearSVC
linear_svc = LinearSVC(random_state=42)

# Train the model
linear_svc.fit(X_train, y_train)
y_pred_svc = linear_svc.predict(X_test)
print("LinearSVC:")
print("Precision:", precision_score(y_test, y_pred_svc))
print("Recall:", recall_score(y_test, y_pred_svc))
print("F1-Score:", f1_score(y_test, y_pred_svc))
print("Accuracy:", accuracy_score(y_test, y_pred_svc))

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC:
Precision: 0.20956544098740035
Recall: 0.4478021978021978
F1-Score: 0.28551410054300225
Accuracy: 0.5625268125268126

C:\Users\Darsh\anaconda3\lib\site-packages\sklearn\svm\_base.py:1250: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

## Multinomial NB

In [34]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(X_train, y_train)
y_pred_mnb = mnb.predict(X_test)
print("Multinomial Naive Bayes:")
print("Precision:", precision_score(y_test, y_pred_mnb))
print("Recall:", recall_score(y_test, y_pred_mnb))
print("F1-Score:", f1_score(y_test, y_pred_mnb))
print("Accuracy:", accuracy_score(y_test, y_pred_mnb))

Multinomial Naive Bayes:
Precision: 0.20223063973063973
Recall: 0.528021978021978
F1-Score: 0.29245283018867924
Accuracy: 0.5012870012870013

## Multi-Layer Perceptron

In [35]:
from sklearn.neural_network import MLPClassifier
# Initialize the MLPClassifier
mlp = MLPClassifier(random_state=42)
mlp.fit(X_train, y_train)
y_pred_mlp = mlp.predict(X_test)
print("MLP Classifier:")
print("Precision:", precision_score(y_test, y_pred_mlp))
print("Recall:", recall_score(y_test, y_pred_mlp))
print("F1-Score:", f1_score(y_test, y_pred_mlp))
print("Accuracy:", accuracy_score(y_test, y_pred_mlp))

MLP Classifier:
Precision: 0.3989071038251366
Recall: 0.20054945054945056
F1-Score: 0.26691042047532
Accuracy: 0.784963534963535